@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    cursor: pointer;
}

:root {
    --main: #1C1E53; 
    --lg: #BBBBCB;
    --dark: #1B1C2B;
    --dark-blue: #282938;
    --grey-bg: #F4F6FC;
    --yel: #FCD980;
    --yel-blur: #FDE4A6;
    --royal-blue: #2405F2;
    --tint-blue: #1C1E53;
}

h1, h2, h3, h4, h5, h5, p {
    color: var(--dark-blue)
}


h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}

h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44.8px;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


@media (min-width: 768px) {
    h1 {
        font-size: 54px;
        line-height: 74px;
    }
    h2 {
        font-size: 48px;
        line-height: 64px;
    }
    h3 {
        font-size: 38px;
        line-height: 56px;
    }
    h4 {
        font-size: 36px;
        line-height: 56px;
        font-weight: 500;
    }
    h5 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 500;
    }
    h6 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
    }
    p {
        line-height: 28px;
    }
}

.main-text {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.title-text {
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.small-text {
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.7;
}

.up-title-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.content-wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.hide {
    display: none!important; 
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.op7 {
    opacity: 0.7;
}


/* header  */

.header {
    background-color: var(--main);
    transition: all 0.4s ease;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.5);
    background-color: var(--main);
}

.fixed-container {
    height: 80px;
    position: absolute;
    z-index: -1000;
}

.fixed-container.fixed {
    position: sticky;
}

.header-menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
.main-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: auto;
    max-width: 1000px;

}

.main-menu i {
    cursor: pointer;
}

.menu-list {
    list-style: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 300px;
    background-color: var(--main);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    z-index: 3;
    padding: 20px;
    flex-basis: 550px;
    border-radius: 0 0 5px 5px;
    transition: all 0.4s ease;
}

.hide-menu {
    left: -300px;
}

.menu-list li a:hover {
    opacity: 0.7;
}

.header-button {
    width: 185px;
    height: 60px;
    padding: 16px 40px;

    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    background-color: var(--main);

    display: none;
    flex-basis: 185px;
    cursor: pointer;
    flex-shrink: 0;

    text-align: center;
    line-height: 26px;
}

.header-button:hover {
    background-color: var(--yel);
    color: var(--dark-blue);
}



/* footer */
.footer {
    background-color: var(--main);
}

.footer-content {
    text-align: center;
    color: #fff;
    padding: 20px 10px;
}

.logo-block .logo-img {
    width: 160px;
}

footer .block-text {
    font-weight: 400;
}

.lets-talk-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin-top: 4px;
}

.icons {
    margin: 10px auto;
}

.icon:not(:last-child) {
    margin-right: 10px;
}

.icon:hover {
    opacity: 0.8;
}

.contact-info {
    background-color: var(--yel);
    text-align: center;
}

.contact-title {
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.contact-text {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
}

.footer-bottom {
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
}

.copyright {
    font-weight: 500;
    opacity: 1;
}

.footer-bottom-container .menu-list {
    display: none;
    padding: 0;
}

/* media queries */
@media (min-width: 768px) {
    .content-wrap {
        padding: 0 60px;
    }
    .header-button {
        display: block;
    }

    .header-menu {
        padding: 0;
    }


    @media (max-width: 1600px) {
        .menu-list {
            width: 500px;
            padding: 40px;
            border-radius: 0 0 20px 20px;
            left: calc(100% - 500px);
            top: 80px;
        }
        
        .menu-list li {
            margin: 15px 0;
    
        }
    
        .menu-list li a {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
        }
    
        .hide-menu {
            left: -1000px;
        }
    }


    

    .title-text {
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
    }

    .small-text {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    

    .footer-content {
        padding: 0;
        padding-top: 36px;
    }

    .logo-block, .lets-talk-block {
        display: flex;
        justify-content: space-between;
        text-align: start;
    }

    footer .block-text {
        max-width: 400px;
    }

    .lets-talk-block {
        position: relative;
        margin-top: 32px;
    }

    .icons {
        position: absolute;
        max-width: 130px;
        bottom: -120%;
        right: 0;
        margin: 0;
    }

    .icon:not(:last-child) {
        margin: 0;
    }

    .icon i {
        margin-left: 10px;
        margin-bottom: 8px;
    }

    footer .content-wrap {
        position: relative;
    }

    .contact-info {
        display: flex;
        gap: 28px;
        text-align: start;
        padding: 16px 36px;
        max-width: 517px;
        margin-top: 12px;
    }

    .footer-bottom {
        text-align: start;
        padding: 24px 0;
    }  
}

@media (min-width: 1024px) {
    .footer-content {
        display: flex;
        /* justify-content: space-between; */
    }

    .logo-block, .lets-talk-block {
        justify-content: start;
        flex-direction: column;
        align-items: start;
    }

    .logo-block {
        width: 50%;
    }
    
    .logo-block .block-text {
        margin-top: 24px;
    }

    .lets-talk-block {
        margin: 0;
    }

    .lets-talk-block .block-text {
        margin-top: 14px;
        margin-bottom: 28px;
    }

    
    .icons {
        position: static;
        max-width: none;
    }

    .icon:not(:last-child) {
        margin-right: 24px;
    }

    .footer-content {
        padding-top: 96px;
    }

    .fa-3x {
        font-size: 1em!important;
    }

    .icon i {
        margin: 0;
    }
}

@media (min-width: 1600px) {
    .content-wrap {
        padding: 0px;
    }

    .menu-list {
        position: static;
        max-width: none;
        display: flex!important;
        gap: 32px;
        margin-right: 28px;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        border: none;
        width: 100%;
    }

    .menu-list li a:not(.active) {
        color: var(--lg);
    }

    .menu-list li a:hover {
        color: #fff;
    }

    .main-menu i {
        display: none;
    }

    .footer-bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom-container .menu-list {
        background-color: #fff;
        max-width: 600px;
        text-align: start;
        border: none;
    }

    .footer-bottom-container .menu-list li a {
        color: var(--dark-blue);
    }
    .footer-bottom-container .menu-list li a:hover {
        opacity: 0.7;
    }
}




/* HOME PAGE STYLES  */
/* home hero */
.home-hero {
    background-color: var(--main);
}

.hero-text {
    max-width: 380px;
    padding: 24px;
    position: relative;
    z-index: 1;

}

.body {
    text-align: center;
    margin-bottom: 12px;
    max-width: 380px;
}

.body .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 4px;
}

.body .text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.under-text-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.hero-button {
    color: var(--dark);
    max-width: 240px;
    border-radius: 41px;
    background: var(--yel);
    padding: 12px 56px;
    margin: 0 auto;

    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
}

.hero-button:hover {
    background-color: var(--yel-blur);
}

.text-button {
    max-width: 220px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 16px;
}

.bg-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.home-hero-bg {  
    position: absolute;
    max-height: 160px;
    right: 20px;
}

/* this is how we work */

.hww {
    background-color: var(--grey-bg);
}

.hww-head {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.hww-link {
    max-width: 220px;
    margin: 4px auto;
    display: flex;
    gap: 16px;
}

.hww-link .link-text {
    color: var(--royal-blue);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.hww-link .link-text:hover {
    color: var(--tint-blue);
}

.hww-cards {
    row-gap: 48px;
    column-gap: 25px;
}

.card {
    max-width: 328px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.card .small-text {
    font-size: 16px;
    line-height: 28px;
}

/* view our projects */

.vop-title {
    text-align: center;
    padding: 0 8px;
    margin: 0 auto;
}

.vop-link {
    max-width: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.vop-link-text {
    color: var(--dark);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    min-width: 140px;
}

.vop-link .arrow {
    max-width: 28px;
}

.block-1 {
    position: relative;
    min-height: 460px;
}

.block-1-content {
    position: absolute;
    top: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding: 204px 34px 44px 34px;
    height: 100%;
    min-height: 460px;
    max-width: 432px;
}
.block-2 {
    max-width: 364px;
    margin: 0 auto;
}

.block-2-container {
    position: relative;
    max-width: 364px;
    max-height: 248px;
}

.block-2-content {
    position: absolute;
    top: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    width: 100%;
    height: 100%;
    padding: 60px 60px 28px 24px;
}

.block-title {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.block-text {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
}

.block-link {
    display: flex;
    max-width: 186px;
    justify-content: space-between;
}



.block-link .vop-link-text {
    color: var(--yel);
}


/* features */

.features {
    background-color: var(--grey-bg);
}

.features-content {
    text-align: center;
}

.features-text {
    color: var(--dark-blue);
    padding: 12px 0;
}

.features-title {
    max-width: 630px;
    margin: 0 auto;
}

.features-card-item {
    background-color: #fff;
    margin: 20px auto 0 auto;
    padding: 28px 10px 12px 10px;
    max-width: 640px;
}
.card-title {
    color: var(--dark-blue);
    margin: 12px 0;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.card-text {
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
}

/* review */
.review {
    background-color: rgb(244, 246, 252, .5);
    padding: 20px 0;
}

.review-content {
    color: var(--dark-blue);
    text-align: center;
    font-family: Poppins;
    font-style: normal;
}

.open-container {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.open-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.open-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    margin: 10px 0 20px 0;
}



.body-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    max-width: 840px; 
}

.author-info {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    gap: 10px;
}

.avatar {
    position: relative;
    line-height: 0;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    overflow: hidden;
    flex-shrink: 0;

}

.avatar img {
    position: absolute;
    left: 0px;
}

.profile-text {
    text-align: start;
}

.profile-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.profile-designation {
    font-size: 12px;
    font-weight: 500;
    line-height: 28px; 
}

.profile-img {
    width: 60px;
    border-radius: 50%;
}

.review-arrow-left, .review-arrow-right {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.review-arrow-left:hover, .review-arrow-right {
    background-color: #5239FA;
    color: #fff;
}

.review-arrows {
    display: flex;
    gap: 8px;
    flex-shrink: 1;
    align-items: center;
}
/* FAQ */

.faq-open-text {
    color: var(--royal-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.7;
    cursor: pointer;
}

.body-content-item {
    display: flex;
    align-items: start;
    margin: 4px;
    cursor: pointer;
}

.body-content-item:not(:last-child) {
    border-bottom: 2px solid #ECECF1;
}

.faq-text-container {
    width: 100%;
    margin-left: 4px;
}

.faq-number {
    color: var(--royal-blue);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.faq-question {
    color: var(--dark-blue);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.faq-answer {
    color: var(--dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
    transition: 0.4s ease-in-out;
    height: 100%;
}

.hide-answer {
    height: 0;
    opacity: 0;
    margin: 0!important;
}

.faq-button {
    margin-top: 12px;
    cursor: pointer;
    transition: 0.4s ease;
}

.faq-close-button {
    transform: rotate(45deg);
}

/* Contact form */
.cf {
    background-color: var(--main);
    text-align: center;
}

.cf-bg {
    width: 100%;
    background: url('../img/contact-form-bg.jfif');

}

.cf-body {
    padding: 54px 10px 78px 10px;
    max-width: 464px;
    margin: 0 auto;
}

.form-container {
    max-width: 432px;
    margin: 0 auto;
    padding: 8px;
}

.contact-form input {
    width: 100%;
    min-height: 40px;
    margin-top: 12px;
    padding: 12px 24px;
    background-color: var(--main);
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
}

.cf-title, .form-title {
    color: #fff;
}

.form-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

#form-submit {
    background-color: var(--yel);
    border-radius: 41px;
    font-family: Manrope;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    cursor: pointer;
}

#form-submit:hover {
    background-color: var(--yel-blur);
}

.cf-link {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    margin: 12px auto;
}

.cf-link img {
    margin: 0 auto;
}

.blog-content .title-text {
    text-align: center;
    padding: 20px 0;
}

.card-blog-item {
    padding: 0 10px;
    margin-bottom: 10px;
}

.blog-content {
    max-width: 640px;
    margin: 0 auto;
}

.blog-img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.blog-date {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
}

.blog-title {
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.blog-text {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
}

.read-more {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
}

.read-more-text {
    color: var(--dark-blue);
}


@media (min-width: 768px) {
    .hero-text {
        max-width: 682px;
        padding: 56px 60px;
        margin-right: 40px;
    }

    .body {
        max-width: 582px;
        text-align: start;
        margin-bottom: 40px;
    }

    .body .title {
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
        text-align: start;
        margin-bottom: 24px;
    }

    .body .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .under-text-container {
        flex-direction: row;
        align-items: center;
        text-align: start;
    }

    .hero-button {
        margin: 0;
    }

    .home-hero {
        padding: 64px 0;
    }
    
    .home-hero-bg {
        max-height: 320px;
        right: 60px;
        top: 50px
    }

    .hww-head {
        text-align: start;
    }

    .hww {
        padding: 36px 0;
    }

    .hww-link {
        margin: 0;
    }

    .hww-cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        margin: 36px auto;
    }

    .card {
        text-align: start;
        margin-bottom: 0;
    }

    .vop {
        padding: 40px 0;
    }

    .vop-title {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        padding: 24px;
    }

    .vop-link {
        margin: 0;
    }

    .block-2 {
        display: flex;
        max-height: 405px;
        max-width: none;
    }

    .block-2-container {
        max-height: none;
        margin: 0 auto;
    }

    .block-2-content {
        padding: 104px 48px 40px 40px;
    }

    .title-text {
        font-family: Poppins;
        font-size: 48px;
        line-height: 64px;
    }

    .features-content {
        padding: 60px 0;
    }

    .features-card-item {
        text-align: start;
        padding: 28px 52px 20px 76px;
    }

    .review-content {
        text-align: start;
    }

    .open-container {
        text-align: start;
    }

    .open-title {
        font-size: 36px;
        margin-bottom: 16px;
    }
    
    .open-text {
        margin: 14px 0 34px 0;
    }

    .body-text {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    .faq-content {
        padding-top: 40px;
        margin: 0 auto;
    }

    .faq-body {
        flex-basis: 840px;
    }

    .faq-open-text {
        margin: 32px 0;
    }

    .body-content-item {
        margin-top: 20px;
    }

    .faq-text-container {
        margin: 0 26px 0 32px;
        min-height: 60px;
    }

    .cf {
        text-align: start;
    }

    .cf-body {
        padding: 84px 0 240px 0;
    }

    .cf-title {
        margin-bottom: 24px;
        font-size: 54px;
        line-height: 74px;
    }
    
    .form-container {
        max-width: 530px;
    }

    .form-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
    }

    .contact-form input {
        padding: 16px 40px;
        margin-top: 14px;
    }

    #form-submit {
        margin-top: 34px;
    }

    .form-text {
        margin-top: 14px;
        margin-bottom: 20px; 
    }

    .cf-link {
        max-width: 300px;
        margin: 24px auto;
    }

    .review-arrow-left, .review-arrow-right {
        width: 48px;
        height: 48px;
        font-size: 48px;
        line-height: 48px;
    }
}

@media (min-width: 1024px) {
    .vop-content .content {
        display: flex;
        max-height: 600px;
    }

    .block-2 {
        flex-direction: column;
        max-height: 100%;
        max-width: 405px;
        gap: 32px;
    }

    .features-content {
        padding: 128px 0;
    }
    .features-cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 28px;
    }

    .features-card-item {
        max-width: 404px;
        padding: 58px 32px 48px 48px;
    }

    .review {
        padding: 100px 0;
    }

    .review-content {
        display: flex;
        justify-content: center;
        gap: 110px;
    }

    .open-container {
        margin: 0;
    }

    .faq-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .body-content-item {
        margin: 32px 0;
    }

    .faq-answer {
        margin: 12px 0 48px 0;
    }


    .cf-content {
        display: flex;
        flex-wrap: wrap;
    }

    .form-container {
        padding-top: 96px;
    }
}

@media (min-width: 1600px) {
    .home-hero {
        padding: 128px 0;
    }

    .home-hero-bg {
        max-height: 320px;
        right: 160px;
        top: 60px
    }

    .hww .content-wrap {
        display: flex;
        justify-content: space-around;
    }
    .hww {
        padding: 128px 0;
    }

    .hww-text {
        margin: 12px 0;
    }

    .vop {
        padding: 128px 0;
    }

    .vop-content {
        max-width: 1120px;
        margin: 0 auto;
    }

    .faq-content {
        margin: 128px 0;
    }

    .faq-open-text {
        margin: 12px 0;
    }

    .blog-content {
        max-width: 1120px;
        margin: 128px auto;
    }

    .blogs {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    .card-blog-item {
        margin-bottom: 20px;
    }

    .blog-content .title-text {
        text-align: start;
        padding-bottom: 64px;
    }

    .blog-date {
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .blog-text {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .review {
        padding: 130px 0;
    }
}



/* ABOUT US STYLES */
@media (max-width: 768px) {
    .content-wrap {
        text-align: center;
        padding: 0 10px;
    }
}

@media (min-width: 768px) {
    .title-text.big {
        font-size: 54px;
        line-height: 74px;
    }

    .title-text {
        font-size: 38px;
        line-height: 56px;
    }

    .content-wrap {
        text-align: start;
    }
}

/* HERO */

#hero {
    padding: 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content .title-text {
    margin-bottom: 20px;
}

.hero-content .small-text {
    max-width: 484px;
    margin: 0 auto;
}

.hero-img {
    max-width: 548px;
    margin: 20px auto;
}

.hero-img img {
    width: 100%;

}

@media (min-width: 768px) {
    .hero-content .small-text {
        margin: 0;
    }
}

@media (min-width: 1024px) {

    #hero {
        padding: 48px 0;
    }
    #hero .content-wrap {
        display: flex;
        align-items: center;
    }

    .hero-content .title-text {
        margin: 8px 0 32px 0;
    }  
}

@media (min-width: 1600px) {
    #hero {
        padding: 128px 0;
    }
}

/* Who we are */
#whoWeAre .content-wrap {
    background-color: var(--grey-bg);
}

.who-we-are-content {
    max-width: 515px;
    margin: 0 auto;
    padding: 20px 0;
}

.who-we-are-img {
    height: 340px;
    width: 100%;
    background: url("../img/about-us/who-we-are-img.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 20px 0;
}

@media (min-width: 1024px) {
    #whoWeAre .content-wrap {
        display: flex;
        padding: 80px;
        gap: 20px;
    }

    .who-we-are-content .title-text {
        margin: 4px 0 16px 0;
    }
}


/* Process */
.process-title {
    text-align: center;
}

#process .card {
    max-width: 272px;
    margin: 0 auto;
    text-align: start;
}

.line-and-icon {
    display: flex;
    align-items: center;
    gap: 24px;
}

.line-ind {
    width: 100%;
    border: 1px dashed var(--royal-blue);
    opacity: 0.4;
}

.card-title {
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 16px;
}

#process .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: 48px auto;
}
@media (min-width: 768px) {
    .process-title {
        font-size: 48px;
        line-height: 64px;
    }

    #process .card {
        margin: 0;
    }

    #process .cards {
        max-width: 580px;
    }
}

@media (min-width: 1024px) {
    #process {
        padding: 48px 0;
    }
}

@media (min-width: 1600px) {
    #process .cards {
        max-width: none;
        justify-content: center;
    }


    #process {
        padding: 128px 0;
    }
}


/* Mission and vision */
#mission {
    background-color: var(--grey-bg);
    text-align: center;
    padding: 20px 10px;
}

#mission .img {
    height: 200px;
    max-height: 336px;
    width: 100%;
    max-width: 514px;
    margin: 0 auto;
}

.mission .img {
    background-image: url("../img/about-us/mission.png");
    background-position: top;
    background-repeat: no-repeat;
}

.vision .img {
    background-image: url("../img/about-us/vision.png");
    background-position: top;
    background-repeat: no-repeat;
}

#mission .content {
    max-width: 400px;
    margin: 20px auto;
}

#mission .content .title-text {
    margin: 16px 0;
}

.mission {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    #mission {
        text-align: start;
    }

    #mission .content {
        max-width: 624px;
    }

    #mission .img {
        height: 336px;
    }

    .mission {
        margin-bottom: 96px;
    }
}

@media (min-width: 1600px) {
    #mission {
        padding: 128px 0;
    }
    .mission, .vision {
        display: flex;
        align-items: center;
    }
}


/* benefits */
#benefits {
    padding: 20px 10px;
}
#benefits .title-text {
    text-align: center;
    margin: 24px auto;
    max-width: 630px;
}

#benefits .cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#benefits .card {
    max-width: 405px;
    padding: 24px;
    background-color: var(--grey-bg);
    margin: 0 auto;
}

#benefits .card-title {
    margin-bottom: 12px;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    margin: 30px auto;
}


.logo-number div {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    opacity: 1!important;
}

.logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .logo-section {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    #benefits .card {
        padding: 48px;
    }
}

@media (min-width: 1024px) {
    #benefits {
        padding: 92px 0 0 0 ;
    }
    .logo-section {
        gap: 88px;
        justify-content: center;
    }

    #benefits .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 48px 0;
    }

    #benefits .card {
        margin: 0;
    }
}

@media (min-width: 1600px) {
    #benefits {
        padding: 128px 0 64px 0;
    }
}

/* Meet our team */

#ourTeam {
    background-color: var(--grey-bg);
    padding: 20px;
}

#ourTeam .content-wrap {
    text-align: center;
}

#ourTeam .cards {
    max-width: 650px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

#ourTeam .card {
    margin: 0;
    max-width: 296px;
    padding: 32px;
    background-color: #fff;
}

#ourTeam .card .photo {
    width: 168px;
    height: 168px;
    border-radius: 168px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo.one {
    background-image: url("../img/about-us/card-photo1.png");
}

.photo.two {
    background-image: url("../img/about-us/card-photo2.png");
}

.photo.three {
    background-image: url("../img/about-us/card-photo3.png");
}
.photo.four {
    background-image: url("../img/about-us/card-photo4.png");
}

@media (min-width: 768px) {
    #ourTeam {
        padding: 60px 0;
    }
    #ourTeam .cards {
        padding: 48px 0;
    }
}

@media (min-width: 1600px) {
    #ourTeam {
        padding: 128px 0;
    }

    #ourTeam .cards {
        padding-bottom: 0;
        max-width: none;
    }
}



/* PRICING STYLES */
#plans {
    padding: 20px;
    padding-top: 0;
}

.title {
    text-align: center;
    max-width: 562px;
    margin: 20px auto;
}

.scroll-container {
    display: flex;
    overflow-y: auto;
}

.pricing-card {
    flex-basis: 300px;
    display: inline;
    flex-shrink: 0;
    padding: 20px 20px;
    background-color: var(--grey-bg);
    border-radius: 12px;
}

.pricing-card:not(:last-child) {
    margin-right: 32px;
}

.card-head {
    display: flex; 
    align-items: center;
    gap: 8px;
}

.price {
    color: var(--dark-blue);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

.price-text {
    color: var(--royal-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.card-content {
    margin-top: 28px;
    max-width: 280px;
}

.content-title {
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 8px;
}

.card-content .small-text {
    height: 84px;
}

ul {
    list-style-type: none;
}

.card-list {
    margin-top: 52px;
    margin-bottom: 64px;
    height: 268px;
}

.card-list li {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
    padding-left: 28px;
    position: relative;
}

.card-list li::before {
    position: absolute;
    top: 3px;
    left: 0;
}

.card-list li:not(.off)::before {
    content: url("../img/pricing/pointer-green.svg");
}

.card-list li.off::before {
    content: url("../img/pricing/pointer-purp.svg");
}

li.off {
    mix-blend-mode: luminosity;
    opacity: 0.7;
}

.pricing-button {
    display: block;
    width: 90%;
    height: 64px;
    padding: 15px 51px;
    margin: 0 auto;

    border-radius: 41px;
    background-color: var(--dark-blue);

    color: var(--grey-bg);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

.pricing-button:hover {
    background-color: #535460;
}


.pricing-card.active {
    background-color: var(--main);
}

.active .price, 
.active .content-title, .active .card-list li,
.pricing-card.active .small-text {
    color: #fff;
}

.active .price-text {
    color: var(--yel);
}

.active .pricing-button {
    background-color: var(--yel);
    color: var(--dark-blue)
}
.active .pricing-button:hover {
    background-color: var(--yel-blur);
}

.active {
    position: relative;
}

.circle {
    width: 1151px;
    height: 1151px;
    border-radius: 1151px;
    background: rgba(255, 255, 255, 0.06);
    position: absolute;
    top: calc(1151px * -0.5 - 24px);
    left: calc(1151px * -0.5 + 50%);
}

@media (min-width: 1024px) {
    #plans {
        padding: 60px 0;
    }
    
    .pricing-card {
        flex-basis: 406px;
        padding: 64px 48px;
    }

    .scroll-container {
        margin-top: 64px;
    }

    .title {
        margin: 0 auto;
    }

    .circle {
        top: calc(1151px * -0.5 + 24px);
    }
}

@media (min-width: 1600px) {
    #plans {
        padding: 128px 0;
    }
    .scroll-container {
        justify-content: center;

    }
}



#article .home-hero

/* Features cards */
#cards section {
    width: 100%;
    padding: 20px;
}

#cards .image {
    width: 100%;
    max-width: 575px;
    height: clamp(200px, 300px, 398px);
    margin: 30px auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#fst-img {
    background-image: url("../img/features/features-img-1.png");
}

#snd-img {
    background-image: url("../img/features/features-img-2.png");
}

#trd-img {
    background-image: url("../img/features/features-img-3.png");
}

#fth-img {
    background-image: url("../img/features/features-img-4.png");
}


#cards .main-text {
    color: var(--dark-blue)
}

#cards .cards-body {
    max-width: 624px;
    margin: 0 auto;
}

#cards h3 {
    margin: 16px 0;
}

@media (min-width: 768px) {
    #cards section {
        display: flex;
        gap: clamp(40px, 60px, 80px);
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    #cards section {
        padding: 60px 48px;
    }
}
@media (min-width: 1440px) {
    #cards .content-wrap {
        max-width: none;
    }
}


@media (min-width: 1600px) {
    #cards section {
        padding: 64px 160px 128px 160px;
        width: 100%;
    }

    #cards .cards-body, #cards .image {
        margin: 0;
    }
}



/* Contact Us */

#contact-us {
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

#contact-us form {
    margin: 70px auto;
    width: 90%;
    max-width: 1061px;
    background-color: var(--grey-bg);
    border-radius: 12px;
    border: 5px solid var(--dark-blue);

    padding: 12px;
}

#contact-us label, #contact-us #close {
    color: #000;

    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

#contact-us input, #message {
    color: #000;

    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    padding: 4px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
    resize: none;
}



#contact-us form .inputs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 32px;
    justify-content: center;
    margin: 12px 0;
}

#contact-us form .inputs div {
    width: 100%;
    max-width: 438px;
    display: flex;
    column-gap: 32px;
}

#contact-us .message {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    max-width: 908px;
    margin: 0 auto;
}

#contact-us div.message {
    flex-direction: column;
    row-gap: 4px;
}

#contact-us button {
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    border-radius: 41px;
    background: var(--dark-blue);

    color: var(--grey-bg);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    margin: 24px calc((100% - 254px)/2);
    margin-bottom: 8px;
}

#close {
    text-align: center;
    cursor: pointer;
}

#contact-us .close:hover {
    opacity: 0.7;
}

.openModal {
    cursor: pointer;
}

@media (min-width: 1024px) {
    #contact-us form .inputs div {
        max-width: 420px;
    }

    #contact-us .message {
        max-width: 876px;
    }
    

    #contact-us form .inputs div {
        flex-direction: column;
    }

    #contact-us form .inputs {
        row-gap: 24px;
    }

    #contact-us span {
        display: flex;
        align-items: center;
        text-align: start;        
    }

    #contact-us button {
        margin: 32px;
    }

    #contact-us form {
        margin-top: 100px;
    }

}

@media (min-width: 1200px) {
    #contact-us form .inputs div {
        max-width: 438px;
    }

    #contact-us .message {
        max-width: 908px;
    }

    #contact-us button {
        margin: 32px 57px;
    }
}